<aside class="catalog">
    <h3>帮助中心</h3>
    <dl>
        <dt>新手指南</dt>
        <dd>
            <a href="/help/about.html">了解1元购</a>
            <a href="/help/question.html">常见问题</a>
            <a href="/help/protocol.html">服务协议</a>
        </dd>
        <dt>夺宝保障</dt>
        <dd>
            <a href="/help/equity.html">公正公开</a>
            <a href="/help/guarantee.html">正品保证</a>
            <a href="/help/pay.html">支付保障</a>

        </dd>
        <dt>商品配送</dt>
        <dd>
            <a href="/help/distribution.html">商品配送</a>
            <a href="/help/distribution-cost.html">配送费用</a>
            <a href="/help/signin.html">验货签收</a>
        </dd>
    </dl>
</aside>