
@{
    ViewBag.Title = "商品配送";
}
@section styles{
    <link href="~/Content/oneyuan_css.css" rel="stylesheet" />
}
@Html.Partial("_PartialHelpLeft")

<article class="content">
    <h2>商品配送</h2>
    <h3>获得商品后多久发货?</h3><div style="margin-left: 30px;">有“现货”标志的商品，在您确认收货地址后，会在1-2天内发出；</div><div style="margin-left: 30px;">有“预售”标志的商品，在您确认收货地址并且网站到货后，会第一时间为您发货；</div><div style="margin-left: 30px;">商品发出后您可以在商品确认页查看物流信息。</div><h3>安排什么快递配送?</h3><div style="margin-left: 30px;">默认选择顺丰快递为您配送，部分无法直接送达的地区会根据情况为您选择其他快递公司进行配送；</div><div style="margin-left: 30px;">其中部分包含电池的商品则按照国家相关规定选择顺丰陆地运输服务为您配送，以确保商品尽快来到您的身边。</div><div style="margin-left: 30px;"><b>温馨提示：</b>部分偏远地区快递配送时间较长，请您耐心等待。</div>
</article>
