
@{
    ViewBag.Title = "配送费用";
}
@section styles{
    <link href="~/Content/oneyuan_css.css" rel="stylesheet" />
}
@Html.Partial("_PartialHelpLeft")
<article class="content">
    <h2>配送费用</h2>
    <div style="margin-left: 30px;"><br>所有商品大陆地区均免费配送，您不需要再支付任何费用。</div>
</article>
