
@{
    ViewBag.Title = "公正公开";
}

<<article class="content">
    <h2>公正公开</h2>
    <div style="margin-left: 30px;">1.&nbsp;1元购作为网易推出的全新服务，保证所有参与者享有相同的权利与义务；</div><div style="margin-left: 30px;">2.&nbsp;幸运号码的计算公式，以本站全部商品不同参与者的参与时间为数据来源，保证幸运号码的随机性和公开性；</div><div style="margin-left: 30px;">3.&nbsp;1元购整个过程完全透明公开，您可以随时查看每个商品的参与人次、参与名单及获得商品信息，并可以核对每个幸运号码的计算详情。</div>
</article>

