
@{
    ViewBag.Title = "常见问题";
}
@section styles{
    <link href="~/Content/oneyuan_css.css" rel="stylesheet" />
}
@Html.Partial("_PartialHelpLeft")
<article class="content">
    <h2>常见问题</h2>
    <h3>怎么参与1元购?</h3>
    <div style="margin-left: 30px;">1. 首先选择您想要的商品，然后选择您要参与的人次数（参与的人次数越多，获得该商品的概率越大）进行参与；</div><div style="margin-left: 30px;">2. 参与成功后，您会获得相应数量的参与号码。当该商品的参与人次数达到总需人次后，系统开始计算唯一的幸运号码；</div><div style="margin-left: 30px;">3. 开奖后，若您参与号码中有与该商品的幸运号码一致的号码，则您获得该商品。</div>
    <h3>怎么看我有没有获得商品?</h3>
    <div style="margin-left: 30px;">在您所参与的商品幸运号码公布后，您可以下载客户端，在客户端中查询中奖结果。</div>
    <div>
        <h3>如何领取实物类商品?</h3>
    </div>
    <div style="margin-left: 30px;">若您抽中实物类商品，您需要下载客户端，点击欢乐购首页右上角“我的”进入个人主页，通过“中奖记录”进入商品确认页填写或确认收货地址。确认完毕后，我们会尽快给您安排快递配送。</div>
    <div>
        <h3>如何领取虚拟类商品?</h3>
    </div>
    <div style="margin-left: 30px;">若您获得的是虚拟类商品（如话费充值卡），您需要下载客户端，点击欢乐购首页右上角“我的”进入个人主页，通过“中奖记录”进入商品确认页查看相应的卡号密码，根据需要选择使用方式并按照相应的使用说明进行操作。</div><div style="margin-left: 30px;">当您选择充值到网易支付或支付宝时，由于运营商充值通道存在差异，可能短暂出现无法充值的情况，请您稍后再试。</div><div style="margin-left: 30px;"><b>温馨提示：</b>虚拟类商品存在有效期限制，获得商品后请尽快使用！</div>
    <div>
        <h3>怎么查询商品配送进度?</h3>
    </div>
    <div style="margin-left: 30px;">商品发出后您可以通过中奖记录中的快递单号进行查询，了解当前配送进度。</div><div style="margin-left: 30px;">新疆、西藏等地区仅支持EMS配送，时间较长，请您耐心等待。</div><div style="margin-left: 30px;"><b><font color="#ff0000">温馨提示：</font></b>快递单属于个人隐私，请妥善保管，避免泄露。</div>
    <div>
    </div>
</article>
