
@{
    ViewBag.Title = "验货签收";
}
@section styles{
    <link href="~/Content/oneyuan_css.css" rel="stylesheet" />
}
@Html.Partial("_PartialHelpLeft")
<article class="content">
    <h2>验货签收</h2>
    <h3>签收要注意什么?</h3>
    <div style="margin-left: 30px;">签收时请当面拆箱验货并本人签收，仔细检查商品（如：外包装是否开封、是否破损，配件是否缺失，功能是否正常）。确保无误后再签收，以免产生不必要的纠纷。</div>
    <div style="margin-left: 30px;">如果发现运输途中造成商品损坏，请勿签收，直接拒签退回。</div><div style="margin-left: 30px;">
        <b>温馨提示:</b>签收过程中产生任何疑问，请及时拨打客服电话反馈，用户签收后即认可商品完好无误。若签收后产生纠纷，1元购仅承担协调处理的义务。
    </div>
    <h3>收到的商品可以退换吗?</h3><div style="margin-left: 30px;">非质量问题，不在三包范围内，不给予退换货。</div><div><h3>长时间未收到商品?</h3></div><div style="margin-left: 30px;">请确保您所填写的收货地址、电话、邮编等信息的准确性；</div><div style="margin-left: 30px;">配送过程中请保证联系方式畅顺无阻，如联络您的时间超过7天未得到回复，默认您放弃此商品。</div><div><h3>写错地址没收到货?</h3></div><div style="margin-left: 30px;">若因地址填写错误、联系方式填写有误等情况造成商品无法完成投递或被退回，所产生的额外费用及后果由用户负责。</div><div><h3>其他</h3></div><div style="margin-left: 30px;">如因不可抗拒的自然原因，如地震、洪水等，所造成的商品配送延迟，1元购不承担责任。</div>
</article>
