@{
    ViewBag.Title = "首页";
}
@section styles{

    <link href="~/Content/index.css" rel="stylesheet" />
}

<div class="g-wrap">
    <article class="g-top-1">
        <section class="g-middle" id="carousel">
            <div class="carousel slide">
                <div class="carousel-inner" role="listbox">
                    <div class="item active outNext">
                        <a href="/product/detail/1" target="_blank" title="">
                            <img src="/Images/1473318562799_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="item inNext">
                        <a href="/product/detail/1" target="_blank" title="">
                            <img src="/Images/1473318448850_1.jpg" alt="">
                        </a>
                    </div>
                </div>  <ol class="carousel-indicators">
                    <li role="button" class=""></li>
                    <li role="button" class="active"></li>
                </ol> <a class="carousel-control prev" role="button" data-to="prev" style="display: block;">
                    <i class="icon-base"></i>
                </a> <a class="carousel-control next" role="button" data-to="next" style="display: block;"><i class="icon-base"></i></a>
            </div>
        </section>
        <aside class="g-aside-right">
            <a class="img-block" href="/help/" target="_blank"><img src="/Images/7053be037f2313d6.png" alt="怎么玩:选择商品-&gt;支付金额-&gt;等待揭晓"></a>
            <div class="bg-placeholder"><i class="icon-base"></i></div>
        </aside>
    </article>

    <article class="g-top-2">
        <aside class="g-aside-left">
            <a class="img-block" href="/help/equity" target="_blank"> <img src="/Images/37318713a12c78d6.png" alt="公正公开,正品保证,权益保障,免费配送"></a>
            <div class="bg-placeholder"><i class="icon-base"></i></div>
        </aside>
        <section class="g-middle">
            <div class="m-quickBuy">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/0" target="_blank">
                            <img src="/Images/1474558593161_1.jpg" alt="" style="display: inline-block;">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/1" target="_blank">iPhone7 128GB【现货】</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：7088</p>
                            <p class="progress-bar"><span class="bg " style="width:26.79%"></span> </p>
                            <span class="joinTimes"><mark>5189</mark>已参与人次</span>
                            <span class="remainTimes"><mark>1899</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016083018PT126742578" data-periodid="2248" data-mintimes="1" data-coinspertime="1" data-productname="iPhone7 128GB【现货】">立即1元购</a>
                        </div>
                    </div>
                </div>
                <div class="m-product-detail end">
                    <div class="img">
                        <a href="/product/detail/1" target="_blank">
                            <img src="/Images/1468552858865_1.jpg" alt="" style="display: inline-block;">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/1" target="_blank">移动30元充值卡 狂欢场</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：36</p>
                            <p class="progress-bar"><span class="bg " style="width:97.22%"></span> </p>
                            <span class="joinTimes"><mark>1</mark>已参与人次</span>
                            <span class="remainTimes"><mark>35</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016071511PT852186266" data-periodid="54529" data-mintimes="1" data-coinspertime="1" data-productname="移动30元充值卡 狂欢场">立即1元购</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <aside class="g-aside-right">
            <a class="img-block" href="/app" target="_blank"><img src="/Images/62d3bedb41d12fff.png" alt="幸运榜"></a>
            <div class="bg-placeholder"><i class="icon-base"></i></div>
        </aside>
    </article>

    <article class="g-list m-category lazy-wrap">
        <header class="title">
            <h2>苹果专场</h2>
            <a class="moreLink" href="/product/Sort/1">查看更多&gt;</a>
        </header>
        <section class="con">
            <div class="head-img">
                <a href="/product/detail/1" target="_blank">
                    <img data-original="/Images/1473285284841_1.jpg" src="/Images/1473285284841_1.jpg" alt="">
                </a>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/1" target="_blank">
                            <img src="/Images/1474558797294_1.png" data-original="/Images/1474558797294_1.png" alt="">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/1" target="_blank">iPhone7 32GB【现货】</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：6188</p>
                            <p class="progress-bar"><span class="bg " style="width:71.8%"></span> </p>
                            <span class="joinTimes"><mark>1745</mark>已参与人次</span>
                            <span class="remainTimes"><mark>4443</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016090615PT170195454" data-periodid="231" data-mintimes="1" data-coinspertime="1" data-productname="iPhone7 32GB【现货】">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90392492/2016052319PT501723688.html" target="_blank">
                            <img src="/Images/1464573278067_1.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1464573278067_1.png" alt="">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90392492/2016052319PT501723688.html" target="_blank">iMac 21.5英寸一体机</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：8199</p>
                            <p class="progress-bar"><span class="bg " style="width:74.19%"></span> </p>
                            <span class="joinTimes"><mark>2116</mark>已参与人次</span>
                            <span class="remainTimes"><mark>6083</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016052319PT501723688" data-periodid="558" data-mintimes="1" data-coinspertime="1" data-productname="iMac 21.5英寸一体机">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90392492/2016090615PT170231291.html" target="_blank">
                            <img src="/Images/1473337872829_1.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1473337872829_1.png" alt="">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90392492/2016090615PT170231291.html" target="_blank">iPhone7 Plus32GB【预售】</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：7180</p>
                            <p class="progress-bar"><span class="bg " style="width:68.06%"></span> </p>
                            <span class="joinTimes"><mark>2293</mark>已参与人次</span>
                            <span class="remainTimes"><mark>4887</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016090615PT170231291" data-periodid="201" data-mintimes="1" data-coinspertime="1" data-productname="iPhone7 Plus32GB【预售】">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con end">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90392492/2016081920PT066550794.html" target="_blank">
                            <img src="/Images/1471608309062_1.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1471608309062_1.png" alt="">
                        </a>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90392492/2016081920PT066550794.html" target="_blank">【限量秒杀】Apple Watch 38mm</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：4088</p>
                            <p class="progress-bar"><span class="bg " style="width:44.25%"></span> </p>
                            <span class="joinTimes"><mark>2279</mark>已参与人次</span>
                            <span class="remainTimes"><mark>1809</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016081920PT066550794" data-periodid="84" data-mintimes="1" data-coinspertime="1" data-productname="【限量秒杀】Apple Watch 38mm">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
        </section>
    </article>
    <article class="g-list m-category lazy-wrap">
        <header class="title">
            <h2>充值卡</h2>
            <a class="moreLink" href="/product/Sort/2">查看更多&gt;</a>
        </header>
        <section class="con">
            <div class="head-img">
                <a href="/product/detail/current/2016012712CA89550122/2016071511PT852146589.html" target="_blank">
                    <img data-original="/Images/1463987691326_1.jpg" src="/Images/1463987691326_1.jpg" alt="">
                </a>
                <div class="bg-placeholder"><i class="icon-base"></i></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012712CA89550122/2016090518PT165423652.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558612723_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012712CA89550122/2016090518PT165423652.html" target="_blank">移动50元充值卡 狂嗨场</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：60</p>
                            <p class="progress-bar"><span class="bg " style="width:48.33%"></span> </p>
                            <span class="joinTimes"><mark>31</mark>已参与人次</span>
                            <span class="remainTimes"><mark>29</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016090518PT165423652" data-periodid="102,072" data-mintimes="1" data-coinspertime="1" data-productname="移动50元充值卡 狂嗨场">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012712CA89550122/2016071420PT848765729.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558665112_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012712CA89550122/2016071420PT848765729.html" target="_blank">移动300元充值卡 狂欢场</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：360</p>
                            <p class="progress-bar"><span class="bg " style="width:68.33%"></span> </p>
                            <span class="joinTimes"><mark>114</mark>已参与人次</span>
                            <span class="remainTimes"><mark>246</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016071420PT848765729" data-periodid="55,957" data-mintimes="1" data-coinspertime="1" data-productname="移动300元充值卡 狂欢场">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012712CA89550122/2016092011PT246246305.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558631703_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012712CA89550122/2016092011PT246246305.html" target="_blank">移动500充值卡 新酷炫场</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：600</p>
                            <p class="progress-bar"><span class="bg " style="width:32%"></span> </p>
                            <span class="joinTimes"><mark>408</mark>已参与人次</span>
                            <span class="remainTimes"><mark>192</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016092011PT246246305" data-periodid="12,062" data-mintimes="1" data-coinspertime="1" data-productname="移动500充值卡 新酷炫场">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con end">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012712CA89550122/2016092011PT246184927.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558866273_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012712CA89550122/2016092011PT246184927.html" target="_blank">移动100充值卡 新欢乐场</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：120</p>
                            <p class="progress-bar"><span class="bg " style="width:4.17%"></span> </p>
                            <span class="joinTimes"><mark>115</mark>已参与人次</span>
                            <span class="remainTimes"><mark>5</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016092011PT246184927" data-periodid="19,222" data-mintimes="1" data-coinspertime="1" data-productname="移动100充值卡 新欢乐场">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
        </section>
    </article>
    <article class="g-list m-category lazy-wrap">
        <header class="title">
            <h2>黄金首饰</h2>
            <a class="moreLink" href="/product/2016012722CA90399359/1.html">查看更多&gt;</a>
        </header>
        <section class="con">
            <div class="head-img">
                <a href="/product/detail/current/2016012722CA90399359/2016050416PT382112721.html" target="_blank">
                    <img data-original="/Images/1467355000956_1.jpg" src="/Images/1467355000956_1.jpg" alt="">
                </a>
                <div class="bg-placeholder"><i class="icon-base"></i></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90399359/2016072914PT938790390.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1469773934204_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90399359/2016072914PT938790390.html" target="_blank">千禧之星 20g灵猴金条</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：6888</p>
                            <p class="progress-bar"><span class="bg " style="width:76.06%"></span> </p>
                            <span class="joinTimes"><mark>1649</mark>已参与人次</span>
                            <span class="remainTimes"><mark>5239</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016072914PT938790390" data-periodid="481" data-mintimes="1" data-coinspertime="1" data-productname="千禧之星 20g灵猴金条">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90399359/2016070216PT767159454.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1467447561818_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90399359/2016070216PT767159454.html" target="_blank">千禧之星 五连金珠</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：240</p>
                            <p class="progress-bar"><span class="bg " style="width:56.67%"></span> </p>
                            <span class="joinTimes"><mark>104</mark>已参与人次</span>
                            <span class="remainTimes"><mark>136</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016070216PT767159454" data-periodid="2,302" data-mintimes="1" data-coinspertime="1" data-productname="千禧之星 五连金珠">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con end">
                <div class="m-product-detail ">
                    <div class="icon">
                        <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="">
                    </div>
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90399359/2016050416PT382112721.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558942605_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90399359/2016050416PT382112721.html" target="_blank">千禧之星 50g灵猴金条</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：16980</p>
                            <p class="progress-bar"><span class="bg full" style="width:101%"></span> </p>
                            <span class="joinTimes"><mark>0</mark>已参与人次</span>
                            <span class="remainTimes"><mark>16980</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016050416PT382112721" data-periodid="505" data-mintimes="10" data-coinspertime="1" data-productname="千禧之星 50g灵猴金条">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
        </section>
    </article>
    <article class="g-list m-category lazy-wrap">
        <header class="title">
            <h2>国际潮牌</h2>
            <a class="moreLink" href="/product/2016042120CA321574470/1.html">查看更多&gt;</a>
        </header>
        <section class="con">
            <div class="head-img">
                <a href="/product/detail/current/all/2016062821PT742615707.html" target="_blank">
                    <img data-original="/Images/1467973422032_1.jpg" src="/Images/1467973422032_1.jpg" alt="">
                </a>
                <div class="bg-placeholder"><i class="icon-base"></i></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016042120CA321574470/2016061821PT673854335.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1466255308108_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016042120CA321574470/2016061821PT673854335.html" target="_blank">天梭 镀金表盘石英男表</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：3199</p>
                            <p class="progress-bar"><span class="bg " style="width:78.09%"></span> </p>
                            <span class="joinTimes"><mark>701</mark>已参与人次</span>
                            <span class="remainTimes"><mark>2498</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016061821PT673854335" data-periodid="222" data-mintimes="1" data-coinspertime="1" data-productname="天梭 镀金表盘石英男表">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016042120CA321574470/2016090920PT191329624.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1473423652098_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016042120CA321574470/2016090920PT191329624.html" target="_blank">BALLY男士双面皮带</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：1988</p>
                            <p class="progress-bar"><span class="bg " style="width:71.08%"></span> </p>
                            <span class="joinTimes"><mark>575</mark>已参与人次</span>
                            <span class="remainTimes"><mark>1413</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016090920PT191329624" data-periodid="10" data-mintimes="1" data-coinspertime="1" data-productname="BALLY男士双面皮带">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="icon">
                        <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="">
                    </div>
                    <div class="img">
                        <a href="/product/detail/current/2016042120CA321574470/2016091418PT217881119.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1473846390200_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016042120CA321574470/2016091418PT217881119.html" target="_blank">欧米茄 男士机械腕表</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：26880</p>
                            <p class="progress-bar"><span class="bg " style="width:96.5%"></span> </p>
                            <span class="joinTimes"><mark>940</mark>已参与人次</span>
                            <span class="remainTimes"><mark>25940</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016091418PT217881119" data-periodid="8" data-mintimes="10" data-coinspertime="1" data-productname="欧米茄 男士机械腕表">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con end">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016042120CA321574470/2016071419PT848446927.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1468496367714_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016042120CA321574470/2016071419PT848446927.html" target="_blank">万宝龙 男士牛皮皮带</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：1598</p>
                            <p class="progress-bar"><span class="bg " style="width:35.98%"></span> </p>
                            <span class="joinTimes"><mark>1023</mark>已参与人次</span>
                            <span class="remainTimes"><mark>575</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016071419PT848446927" data-periodid="34" data-mintimes="1" data-coinspertime="1" data-productname="万宝龙 男士牛皮皮带">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
        </section>
    </article>
    <article class="g-list m-category lazy-wrap">
        <header class="title">
            <h2>手机平板</h2>
            <a class="moreLink" href="/product/2016012722CA90395472/1.html">查看更多&gt;</a>
        </header>
        <section class="con">
            <div class="head-img">
                <a href="/product/detail/current/2016012722CA90395472/2016052716PT525307919.html" target="_blank">
                    <img data-original="/Images/1466150761341_1.jpg" src="/Images/1466150761341_1.jpg" alt="">
                </a>
                <div class="bg-placeholder"><i class="icon-base"></i></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90395472/2016042210PT323906598.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1472744855766_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90395472/2016042210PT323906598.html" target="_blank">华为P9 64G</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：4399</p>
                            <p class="progress-bar"><span class="bg " style="width:58.45%"></span> </p>
                            <span class="joinTimes"><mark>1828</mark>已参与人次</span>
                            <span class="remainTimes"><mark>2571</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016042210PT323906598" data-periodid="1,473" data-mintimes="1" data-coinspertime="1" data-productname="华为P9 64G">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90395472/2016031110PT177245675.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1459824087766_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90395472/2016031110PT177245675.html" target="_blank">三星S7 edge</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：6198</p>
                            <p class="progress-bar"><span class="bg " style="width:70.52%"></span> </p>
                            <span class="joinTimes"><mark>1827</mark>已参与人次</span>
                            <span class="remainTimes"><mark>4371</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016031110PT177245675" data-periodid="1,078" data-mintimes="1" data-coinspertime="1" data-productname="三星S7 edge">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90395472/2016052716PT525307919.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1464574279513_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90395472/2016052716PT525307919.html" target="_blank">华为荣耀V8 64G版</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：3199</p>
                            <p class="progress-bar"><span class="bg " style="width:80.06%"></span> </p>
                            <span class="joinTimes"><mark>638</mark>已参与人次</span>
                            <span class="remainTimes"><mark>2561</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016052716PT525307919" data-periodid="398" data-mintimes="1" data-coinspertime="1" data-productname="华为荣耀V8 64G版">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con end">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90395472/2016082620PT105601728.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1472214652450_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90395472/2016082620PT105601728.html" target="_blank">三星Galaxy Note7</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：6998</p>
                            <p class="progress-bar"><span class="bg " style="width:45.84%"></span> </p>
                            <span class="joinTimes"><mark>3790</mark>已参与人次</span>
                            <span class="remainTimes"><mark>3208</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016082620PT105601728" data-periodid="194" data-mintimes="1" data-coinspertime="1" data-productname="三星Galaxy Note7">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
        </section>
    </article>
    <article class="g-list m-category lazy-wrap">
        <header class="title">
            <h2>电脑数码</h2>
            <a class="moreLink" href="/product/2016012722CA90394625/1.html">查看更多&gt;</a>
        </header>
        <section class="con">
            <div class="head-img">
                <a href="/product/detail/current/2016012722CA90394625/2016040510PT252290777.html" target="_blank">
                    <img data-original="/Images/1460721248212_1.jpg" src="/Images/1460721248212_1.jpg" alt="">
                </a>
                <div class="bg-placeholder"><i class="icon-base"></i></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90394625/2016091415PT217300695.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1473839225003_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90394625/2016091415PT217300695.html" target="_blank">小米手环 第2代</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：260</p>
                            <p class="progress-bar"><span class="bg " style="width:66.15%"></span> </p>
                            <span class="joinTimes"><mark>88</mark>已参与人次</span>
                            <span class="remainTimes"><mark>172</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016091415PT217300695" data-periodid="64" data-mintimes="1" data-coinspertime="1" data-productname="小米手环 第2代">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90394625/2016052319PT501754686.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1464573531477_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90394625/2016052319PT501754686.html" target="_blank">佳能EOS 80D 单反套机</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：9888</p>
                            <p class="progress-bar"><span class="bg " style="width:93.36%"></span> </p>
                            <span class="joinTimes"><mark>657</mark>已参与人次</span>
                            <span class="remainTimes"><mark>9231</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016052319PT501754686" data-periodid="203" data-mintimes="1" data-coinspertime="1" data-productname="佳能EOS 80D 单反套机">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90394625/2016062321PT707288298.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1466689452701_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90394625/2016062321PT707288298.html" target="_blank">Surface Book笔记本</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：11888</p>
                            <p class="progress-bar"><span class="bg " style="width:92.63%"></span> </p>
                            <span class="joinTimes"><mark>876</mark>已参与人次</span>
                            <span class="remainTimes"><mark>11012</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016062321PT707288298" data-periodid="83" data-mintimes="1" data-coinspertime="1" data-productname="Surface Book笔记本">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con end">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90394625/2016062820PT742219246.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1467116839237_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90394625/2016062820PT742219246.html" target="_blank">AppleMacBook Pro</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：15300</p>
                            <p class="progress-bar"><span class="bg " style="width:57.09%"></span> </p>
                            <span class="joinTimes"><mark>6565</mark>已参与人次</span>
                            <span class="remainTimes"><mark>8735</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016062820PT742219246" data-periodid="122" data-mintimes="1" data-coinspertime="1" data-productname="AppleMacBook Pro">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
        </section>
    </article>

    <article class="g-list m-category lazy-wrap">
        <header class="title">
            <h2>家用电器</h2>
            <a class="moreLink" href="/product/2016012722CA90396065/1.html">查看更多&gt;</a>
        </header>
        <section class="con">
            <div class="head-img">
                <a href="/product/detail/current/2016012722CA90396065/2016030810PT170410759.html" target="_blank">
                    <img data-original="/Images/1460195076133_1.jpg" src="/Images/1460195076133_1.jpg" alt="">
                </a>
                <div class="bg-placeholder"><i class="icon-base"></i></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90396065/2016050218PT374421631.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1462765772336_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title">
                            <a href="/product/detail/current/2016012722CA90396065/2016050218PT374421631.html" target="_blank">三星 55英寸曲面4K电视</a>
                        </h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：8999</p>
                            <p class="progress-bar"><span class="bg " style="width:83.63%"></span> </p>
                            <span class="joinTimes"><mark>1473</mark>已参与人次</span>
                            <span class="remainTimes"><mark>7526</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016050218PT374421631" data-periodid="343" data-mintimes="1" data-coinspertime="1" data-productname="三星 55英寸曲面4K电视">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90396065/2016053021PT546963381.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1465029819224_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90396065/2016053021PT546963381.html" target="_blank">海尔立式空调 KFR-50LW</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：8799</p>
                            <p class="progress-bar"><span class="bg " style="width:53.3%"></span> </p>
                            <span class="joinTimes"><mark>4109</mark>已参与人次</span>
                            <span class="remainTimes"><mark>4690</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016053021PT546963381" data-periodid="151" data-mintimes="1" data-coinspertime="1" data-productname="海尔立式空调 KFR-50LW">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90396065/2016053021PT546972696.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1465029809868_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90396065/2016053021PT546972696.html" target="_blank">海尔1.5匹空调 KFR-35GW</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：4299</p>
                            <p class="progress-bar"><span class="bg " style="width:45.8%"></span> </p>
                            <span class="joinTimes"><mark>2330</mark>已参与人次</span>
                            <span class="remainTimes"><mark>1969</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016053021PT546972696" data-periodid="151" data-mintimes="1" data-coinspertime="1" data-productname="海尔1.5匹空调 KFR-35GW">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con end">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90396065/2016053021PT546933249.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1465029797992_1.png" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90396065/2016053021PT546933249.html" target="_blank">三星智能冰箱RS62K6000WW</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：7288</p>
                            <p class="progress-bar"><span class="bg " style="width:54.79%"></span> </p>
                            <span class="joinTimes"><mark>3295</mark>已参与人次</span>
                            <span class="remainTimes"><mark>3993</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016053021PT546933249" data-periodid="149" data-mintimes="1" data-coinspertime="1" data-productname="三星智能冰箱RS62K6000WW">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
        </section>
    </article>

    <article class="g-list m-category lazy-wrap">
        <header class="title">
            <h2>运动户外</h2>
            <a class="moreLink" href="/product/2016012722CA90396610/1.html">查看更多&gt;</a>
        </header>
        <section class="con">
            <div class="head-img">
                <a href="/product/detail/current/2016012722CA90396610/2016041122PT279045957.html" target="_blank">
                    <img data-original="/Images/1463379175615_1.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAPSURBVChTYxgFgxIwMAAAAZoAAXcn7CgAAAAASUVORK5CYII=" alt="">
                </a>
                <div class="bg-placeholder"><i class="icon-base"></i></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90396610/2016081812PT055299231.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1471494299254_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90396610/2016081812PT055299231.html" target="_blank">奔驰C级 C200L运动版</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：50880</p>
                            <p class="progress-bar"><span class="bg " style="width:63.92%"></span> </p>
                            <span class="joinTimes"><mark>18360</mark>已参与人次</span>
                            <span class="remainTimes"><mark>32520</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016081812PT055299231" data-periodid="11" data-mintimes="1" data-coinspertime="10" data-productname="奔驰C级 C200L运动版">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90396610/2016081120PT014366227.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1470920082079_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90396610/2016081120PT014366227.html" target="_blank">大众新速腾 15款230TSI</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：21980</p>
                            <p class="progress-bar"><span class="bg " style="width:33.96%"></span> </p>
                            <span class="joinTimes"><mark>14516</mark>已参与人次</span>
                            <span class="remainTimes"><mark>7464</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016081120PT014366227" data-periodid="19" data-mintimes="1" data-coinspertime="10" data-productname="大众新速腾 15款230TSI">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con ">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90396610/2016011516PT70981221.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1453707828188_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90396610/2016011516PT70981221.html" target="_blank">小米 智能平衡车</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：2460</p>
                            <p class="progress-bar"><span class="bg " style="width:57.4%"></span> </p>
                            <span class="joinTimes"><mark>1048</mark>已参与人次</span>
                            <span class="remainTimes"><mark>1412</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016011516PT70981221" data-periodid="1,693" data-mintimes="1" data-coinspertime="1" data-productname="小米 智能平衡车">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
            <div class="product-con end">
                <div class="m-product-detail ">
                    <div class="img">
                        <a href="/product/detail/current/2016012722CA90396610/2016081210PT016940629.html" target="_blank">
                            <img src="/Images/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1470967498951_1.jpg" alt="">
                        </a>
                        <div class="bg-placeholder"><i class="icon-base"></i></div>
                    </div>
                    <div class="content">
                        <h3 class="title"><a href="/product/detail/current/2016012722CA90396610/2016081210PT016940629.html" target="_blank">路虎 发现神行2016款</a></h3>
                        <div class="progress">
                            <p class="totalTimes">总需人次：58800</p>
                            <p class="progress-bar"><span class="bg " style="width:96.76%"></span> </p>
                            <span class="joinTimes"><mark>1906</mark>已参与人次</span>
                            <span class="remainTimes"><mark>56894</mark>剩余人次</span>
                        </div>
                        <div class="btns">
                            <a href="javascript:;" class="buy" data-productid="2016081210PT016940629" data-periodid="20" data-mintimes="1" data-coinspertime="10" data-productname="路虎 发现神行2016款">立即参与</a>
                        </div>
                    </div>
                </div>
                <div class="active-bg"></div>
            </div>
        </section>
    </article>
</div>