
@{
    ViewBag.Title = "Index";
}

@section styles{


    <link href="~/Content/ProductList.css" rel="stylesheet" />
}

<div class="crumbNav">
    <a href="/" target="">首页</a> <i>></i> 十元专区
</div>
<article class="m-category g-list">

    <div class="product-con ">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016061719PT663049549.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558838799_1.png" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016061719PT663049549.html" target="_blank">千禧之星 100g金元宝</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：35000</p>
                    <p class="progress-bar"><span class="bg " style="width: 96.86%"></span> </p>
                    <span class="joinTimes"><mark>1100</mark>已参与人次</span>
                    <span class="remainTimes"><mark>33900</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="33900">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016061719PT663049549" data-periodid="167" data-mintimes="10"
                       data-coinspertime="1" data-productname="千禧之星 100g金元宝">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>

    <div class="product-con ">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016092010PT246052560.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558702884_1.jpg" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016092010PT246052560.html" target="_blank">移动1000充值卡 新劲爆场</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：1200</p>
                    <p class="progress-bar"><span class="bg " style="width: 27.5%"></span> </p>
                    <span class="joinTimes"><mark>870</mark>已参与人次</span>
                    <span class="remainTimes"><mark>330</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="330">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016092010PT246052560" data-periodid="21,661" data-mintimes="10"
                       data-coinspertime="1" data-productname="移动1000充值卡 新劲爆场">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
    <div class="product-con ">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016092011PT246103787.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558686728_1.JPG" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016092011PT246103787.html" target="_blank">移动5000充值卡 狂飚场</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：6000</p>
                    <p class="progress-bar"><span class="bg " style="width: 10.67%"></span> </p>
                    <span class="joinTimes"><mark>5360</mark>已参与人次</span>
                    <span class="remainTimes"><mark>640</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="640">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016092011PT246103787" data-periodid="6,247" data-mintimes="10"
                       data-coinspertime="1" data-productname="移动5000充值卡 狂飚场">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
    <div class="product-con end">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016050416PT382112721.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558942605_1.jpg" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016050416PT382112721.html" target="_blank">千禧之星 50g灵猴金条</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：16980</p>
                    <p class="progress-bar"><span class="bg " style="width: 98%"></span> </p>
                    <span class="joinTimes"><mark>200</mark>已参与人次</span>
                    <span class="remainTimes"><mark>16780</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="16780">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016050416PT382112721" data-periodid="508" data-mintimes="10"
                       data-coinspertime="1" data-productname="千禧之星 50g灵猴金条">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
    <div class="product-con ">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016090813PT182225590.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474206124987_1.jpg" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016090813PT182225590.html" target="_blank">iPhone7 256GB【现货】</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：7990</p>
                    <p class="progress-bar"><span class="bg " style="width: 98%"></span> </p>
                    <span class="joinTimes"><mark>130</mark>已参与人次</span>
                    <span class="remainTimes"><mark>7860</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="7860">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016090813PT182225590" data-periodid="169" data-mintimes="10"
                       data-coinspertime="1" data-productname="iPhone7 256GB【现货】">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
    <div class="product-con ">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016090812PT181837635.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1473337943846_1.png" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016090812PT181837635.html" target="_blank">iPhone7 Plus256GB【预售】</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：8880</p>
                    <p class="progress-bar"><span class="bg " style="width: 60.92%"></span> </p>
                    <span class="joinTimes"><mark>3470</mark>已参与人次</span>
                    <span class="remainTimes"><mark>5410</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="5410">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016090812PT181837635" data-periodid="311" data-mintimes="10"
                       data-coinspertime="1" data-productname="iPhone7 Plus256GB【预售】">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
    <div class="product-con ">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016081719PT049166080.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558677769_1.JPG" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016081719PT049166080.html" target="_blank">移动5000充值卡 劲爆场</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：6000</p>
                    <p class="progress-bar"><span class="bg " style="width: 63.67%"></span> </p>
                    <span class="joinTimes"><mark>2180</mark>已参与人次</span>
                    <span class="remainTimes"><mark>3820</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="3820">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016081719PT049166080" data-periodid="3,511" data-mintimes="10"
                       data-coinspertime="1" data-productname="移动5000充值卡 劲爆场">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
    <div class="product-con end">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016091418PT217881119.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1473846390200_1.jpg" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016091418PT217881119.html" target="_blank">欧米茄 男士机械腕表</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：26880</p>
                    <p class="progress-bar"><span class="bg " style="width: 63.58%"></span> </p>
                    <span class="joinTimes"><mark>9790</mark>已参与人次</span>
                    <span class="remainTimes"><mark>17090</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="17090">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016091418PT217881119" data-periodid="8" data-mintimes="10"
                       data-coinspertime="1" data-productname="欧米茄 男士机械腕表">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
    <div class="product-con ">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016070215PT766813516.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1468910701960_1.png" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016070215PT766813516.html" target="_blank">三星65英寸智能电视</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：9800</p>
                    <p class="progress-bar"><span class="bg " style="width: 80.31%"></span> </p>
                    <span class="joinTimes"><mark>1930</mark>已参与人次</span>
                    <span class="remainTimes"><mark>7870</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="7870">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016070215PT766813516" data-periodid="80" data-mintimes="10"
                       data-coinspertime="1" data-productname="三星65英寸智能电视">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
    <div class="product-con ">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016091915PT242166852.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474269095449_1.jpg" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016091915PT242166852.html" target="_blank">浪琴 名匠系列机械男表</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：14590</p>
                    <p class="progress-bar"><span class="bg " style="width: 43.87%"></span> </p>
                    <span class="joinTimes"><mark>8190</mark>已参与人次</span>
                    <span class="remainTimes"><mark>6400</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="6400">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016091915PT242166852" data-periodid="6" data-mintimes="10"
                       data-coinspertime="1" data-productname="浪琴 名匠系列机械男表">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
    <div class="product-con ">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2015121018PT35532192.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1449742437650_1.jpg" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2015121018PT35532192.html" target="_blank">乐视超级电视 50英寸</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：3700</p>
                    <p class="progress-bar"><span class="bg " style="width: 46.22%"></span> </p>
                    <span class="joinTimes"><mark>1990</mark>已参与人次</span>
                    <span class="remainTimes"><mark>1710</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="1710">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2015121018PT35532192" data-periodid="1,224" data-mintimes="10"
                       data-coinspertime="1" data-productname="乐视超级电视 50英寸">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
    <div class="product-con end">
        <div class="m-product-detail ">
            <div class="icon">
                <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/ad/1446713378021_1.png" alt="" />
            </div>
            <div class="img">
                <a href="/product/detail/current/tens/2016072117PT894839088.html" target="_blank">
                    <img src="//pimg1.126.net/yyg/desktop/index/img/placeholder.7dfa552446.png" data-original="http://pimg1.126.net/hyg/product/images/duobao/thumbnail/1474558569805_1.jpg" alt="" />
                </a>
                <div class="bg-placeholder">
                    <i class="icon-base">&#xe600;</i>
                </div>
            </div>
            <div class="content">
                <h3 class="title">
                    <a href="/product/detail/current/tens/2016072117PT894839088.html" target="_blank">移动1000充值卡 畅玩场</a>
                </h3>
                <div class="progress">
                    <p class="totalTimes">总需人次：1200</p>
                    <p class="progress-bar"><span class="bg " style="width: 97.5%"></span> </p>
                    <span class="joinTimes"><mark>30</mark>已参与人次</span>
                    <span class="remainTimes"><mark>1170</mark>剩余人次</span>
                </div>
                <div class="btns">
                    <div class="inumber" data-min="10" data-max="1170">
                        参与<i class="reduce">-</i><input name="num" value="10" /><i class="add">+</i>人次
                    </div>
                    <a href="javascript:;" class="buy" data-productid="2016072117PT894839088" data-periodid="28,267" data-mintimes="10"
                       data-coinspertime="1" data-productname="移动1000充值卡 畅玩场">立即参与</a>
                </div>
            </div>
        </div>
        <div class="active-bg"></div>
    </div>
</article>
